*{
    margin:0;
    padding: 0;
}
body{
    background: linear-gradient(to right, lightcyan, #e0ffff);}

#top{
    height: 15vh;
    background-color: rgb(11, 11, 61);
    font-family: 'Poppins', sans-serif; /* Modern font */
    font-size: 3rem; /* Bigger heading */
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom:10px;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices{
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    gap:3rem
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.12);
}

img{
    height: 150px;
    width: 170px;
    border: solid;
    border-color: black;
    border-radius: 50%;
    object-fit: cover;
}

.score-board{
    margin: 20px;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
.msg-container{
    margin-top: 5vh;;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
     background-color:rgb(11, 11, 61) ;
     color: aqua;
     font-size: 2.5rem;
     padding: 10px;
     font-weight: bold;
     border:solid 5px rgb(160, 37, 37);
     display: inline;
     border-radius: 8px;
}